.instructions-container {
    margin-bottom: 1.5rem;
    max-width: 28rem;
    text-align: center;
    position: relative;
}

.instruction-text {
    color: #9ca3af;
}

.mb-2 {
    margin-bottom: 0.5rem;
}
